---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import Divider from "../assets/Divider.astro";
---

<Layout headerMessage="/About">
	<div class="flex flex-col gap-6 justify-start items-start font-montserrat text-base/snug p-5 my-10 md:my-20 text-justify max-w-screen-md mx-auto min-w-min md:gap-10">
		<div class="w-full">
			<h1 class="font-bayon text-4xl">/About</h1>
			<h2>Get to know me a little better.</h2>
		</div>

		<div class="w-full">
			<h3 class="font-bayon text-xl">Engineering Journey</h3>
			<div class="text-base/snug space-y-5">
				<p>
					I received my bachelor's degree in mechanical engineering from the USC. After graduating, I went on to start a small e-commerce business specializing in rapid prototyping and light manufacturing equipment. Things were initially exciting and met most of my expectations, but as time went on, I found myself missing engineering. I came to realize that my true passion was in the engineering of the products I was handling and not so much in the business aspects surrounding them. I also came to recognize that my entrepreneurial spirit could be satiated by simply working alongside smart people on innovative solutions to interesting problems without needing to operate and manage a business.				
				</p>

				<p>
					So, I decided to close shop and make my way back to my roots in product design and development. While I'll always have a love for designing and building hardware, its intrinsic challenges (high capital requirements, slow and delayed development cycles, inflexible supply chains, etc.) motivated me to pursue this next leg of my journey designing and building software. I've spent the past year teaching myself how to program by leveraging App Academy's Full-stack Software Engineering Open Curriculum. And to put theory into practice, I just wrapped up an internship with The Collab Lab, a program dedicated to providing early-career developers with practical experiential experience in software development, collaboration, and career management, where I got the opportunity to emulate the professional software development environment with a team of 3 senior engineers and 3 other early-career developers.
				</p>

				<p>
					Which brings me to the present. I'm seeking exciting full-time opportunities where I can use my new skillset to create beautiful, accessible, and efficient software experiences. I currently enjoy programming in JavaScript with the PERN stack but I'm a lifelong learner and love adding to my toolbox.
				</p>

				<p>
					If your team is looking for a hardworking, meticulous, practical, adaptable, software engineer that passes the office vibe check 😂, please drop me an email.
				</p>
			</div>
		</div>

		<div class="w-full">
			<h3 class="font-bayon text-xl text-left">When I'm not coding, I'm...</h3>
			<ul class="list-disc list-inside px-5">
				<li class="relative before:-ml-3 pb-1">travelling</li>
				<li class="relative before:-ml-3 pb-1">taking pictures</li>
				<li class="relative before:-ml-3 pb-1">hosting friends and family for dinner</li>
				<li class="relative before:-ml-3 pb-1">at Costco</li>
				<li class="relative before:-ml-3 pb-1">DIYing</li>
				<li class="relative before:-ml-3 pb-1">playing with my pups</li>
				<li class="relative before:-ml-3 pb-1">chasing slick deals</li>
			</ul>
		</div>

		<div class="w-full">
			<h3 class="font-bayon text-xl text-left">I like scrolling through...</h3>
			<ul class="list-disc list-inside px-5">
				<li class="relative before:-ml-3 pb-1">r/awardtravel</li>
				<li class="relative before:-ml-3 pb-1">r/churning</li>
				<li class="relative before:-ml-3 pb-1">r/personalfinance</li>
				<li class="relative before:-ml-3 pb-1">r/BuyItForLife</li>
				<li class="relative before:-ml-3 pb-1">r/Cooking</li>
				<li class="relative before:-ml-3 pb-1">r/MealPrepSunday</li>
				<li class="relative before:-ml-3 pb-1">r/MealPrepSunday</li>
				<li class="relative before:-ml-3 pb-1">r/diy</li>
				<li class="relative before:-ml-3 pb-1">r/WhatsWrongWithYourDog</li>
				<li class="relative before:-ml-3 pb-1">r/CrappyDesign</li>
			</ul>
		</div>

		<div class="w-full space-y-2">
			<h3 class="font-bayon text-xl text-left">Me in 10 words according to my totally unbiased gf:</h3>
			<div class="flex justify-center">
				<div class="relative grow ml-[10px] mb-[10px] max-w-[350px] aspect-[10/11] border-black border-[3px] rounded-xl bg-tenWords bg-cover bg-top bg-no-repeat">
					<div
						class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] !z-[-1]"
					/>
				</div>
			</div>
		</div>

		<Divider twClasses="w-1/2 mx-auto fill-current text-black drop-shadow-xl p-5 max-w-xs" />

		<div class="flex flex-col justify-start items-center w-full">
			<div class="text-center max-w-lg mx-auto">
				<h3 class="font-bayon text-2xl">That's all for now!</h3>
				<p>
					'preciate anyone who's made it this far. 🫶🏼<br/>I hid an easter egg
					for you somewhere in the home page. You can get to it by solving
					this riddle that I collabed with ChatGPT on.
				</p>
			</div>
			<div class="relative w-14 h-14 translate-y-[50%] mx-auto p-2 rounded-full text-yellow bg-black z-[1]">
				<Icon name="mdi:egg-easter"/>
			</div>
			<div class="relative ml-[10px] mb-[10px] border-[3px] border-black px-5 py-10 rounded-xl space-y-5 font-dmMono text-base/tight text-left bg-[radial-gradient(#D9D9D9_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				/>

				<p>
					In my digital realm, where ideas take flight,<br /> A tale of an apple, let me recite.
				</p>

				<p>
					Newton's revelation, a symbol well-known, <br /> Where gravity's pull was clearly shown.
				</p>

				<p>
					Seek not the apple that fell from that tree,<br /> But the iconic bitten apple, of high pedigree. 
				</p>

				<p>
					Within 2d-me, this secret you'll find,<br /> On the shell of the vessel, where my logic, magic, and art intertwine.
				</p>

				<p>
					On my trusty old laptop, where I strive to thrive,<br /> With bytes and bites, my code comes alive.
				</p>

				<p>
					A play on words, a subtle delight.<br /> In the form of a button, I've hidden from sight.
				</p>

				<p>
					Look closely, explorer, with careful attention,<br /> For a cursor, on hover, masking the hidden intention.
				</p>

				<p>
					Fire the onclick event, to unveil the unseen,<br /> My loyal companions, that make my soul gleam.  
				</p>
			</div>
		</div>
	</div>
</Layout>
