---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import Divider from "../assets/Divider.astro";
---

<Layout headerMessage="/About">
	<div class="flex flex-col gap-6 justify-start items-start font-montserrat text-base/snug p-5 my-10 md:my-20 text-justify max-w-screen-md mx-auto min-w-min md:gap-10">
		<div class="w-full">
			<h1 class="font-bayon text-4xl">/About</h1>
			<h2>Get to know me a little better.</h2>
		</div>

		<div class="w-full">
			<h3 class="font-bayon text-xl">Engineering Journey</h3>
			<div class="text-base/snug space-y-5">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu
					non diam phasellus vestibulum lorem sed risus ultricies. Est
					ante in nibh mauris cursus mattis. Viverra adipiscing at in
					tellus integer feugiat scelerisque. Tempus egestas sed sed risus
					pretium quam vulputate dignissim suspendisse. Tellus in hac
					habitasse platea dictumst vestibulum. Hac habitasse platea
					dictumst quisque sagittis purus sit amet. Varius duis at
					consectetur lorem. Pulvinar elementum integer enim neque
					volutpat ac. Arcu odio ut sem nulla pharetra diam sit.
				</p>

				<p>
					Ut tristique et egestas quis. Laoreet suspendisse interdum
					consectetur libero id faucibus. Et malesuada fames ac turpis
					egestas sed tempus urna. In est ante in nibh. Mus mauris vitae
					ultricies leo integer malesuada nunc vel risus. Dictumst
					vestibulum rhoncus est pellentesque elit ullamcorper dignissim.
					Enim sed faucibus turpis in. In cursus turpis massa tincidunt
					dui ut ornare lectus sit. Blandit massa enim nec dui nunc mattis
					enim ut tellus. Arcu ac tortor dignissim convallis aenean et.
					Ullamcorper sit amet risus nullam eget felis. Euismod quis
					viverra nibh cras pulvinar mattis. Fringilla urna porttitor
					rhoncus dolor purus non enim praesent elementum.
				</p>

				<p>
					Duis at tellus at urna condimentum mattis pellentesque id.
					Phasellus vestibulum lorem sed risus ultricies tristique nulla.
					Augue mauris augue neque gravida in fermentum et. Aenean sed
					adipiscing diam donec adipiscing. Et pharetra pharetra massa
					massa. Integer feugiat scelerisque varius morbi enim nunc
					faucibus. Sed nisi lacus sed viverra. Amet nisl suscipit
					adipiscing bibendum est ultricies integer quis auctor. Aliquet
					risus feugiat in ante metus dictum. Viverra tellus in hac
					habitasse platea dictumst. Quis vel eros donec ac odio tempor.
					Non enim praesent elementum facilisis leo vel fringilla est
					ullamcorper. Mauris pharetra et ultrices neque ornare aenean
					euismod elementum nisi.
				</p>

				<p>
					Sagittis aliquam malesuada bibendum arcu vitae. Dui ut ornare
					lectus sit amet est. Vel elit scelerisque mauris pellentesque
					pulvinar. Elit scelerisque mauris pellentesque pulvinar
					pellentesque habitant morbi tristique senectus. Odio euismod
					lacinia at quis risus sed. Risus nullam eget felis eget nunc
					lobortis mattis aliquam faucibus. Odio facilisis mauris sit amet
					massa vitae tortor condimentum lacinia. Leo a diam sollicitudin
					tempor id eu nisl nunc mi. Nunc sed augue lacus viverra vitae
					congue. Facilisi nullam vehicula ipsum a arcu cursus. Pulvinar
					mattis nunc sed blandit libero volutpat sed cras. Ac tincidunt
					vitae semper quis lectus nulla at volutpat diam. Erat velit
					scelerisque in dictum non consectetur a erat. Enim sed faucibus
					turpis in eu. Quis lectus nulla at volutpat diam ut venenatis
					tellus.
				</p>

				<p>
					Sem viverra aliquet eget sit amet tellus cras. Mi sit amet
					mauris commodo quis. In ante metus dictum at tempor commodo
					ullamcorper a lacus. Orci dapibus ultrices in iaculis nunc. Sed
					nisi lacus sed viverra tellus in hac. Imperdiet dui accumsan sit
					amet nulla. Cras adipiscing enim eu turpis egestas pretium. At
					consectetur lorem donec massa sapien. Tincidunt vitae semper
					quis lectus nulla at volutpat diam. Fusce ut placerat orci nulla
					pellentesque. Ut tristique et egestas quis ipsum. Nec sagittis
					aliquam malesuada bibendum arcu vitae elementum curabitur.
				</p>

				<p>
					Adipiscing tristique risus nec feugiat in. Tempus quam
					pellentesque nec nam aliquam sem et. Etiam dignissim diam quis
					enim lobortis scelerisque fermentum dui. Amet luctus venenatis
					lectus magna fringilla urna porttitor rhoncus. Eu nisl nunc mi
					ipsum. Nec feugiat in fermentum posuere urna nec tincidunt.
					Lectus proin nibh nisl condimentum. Imperdiet dui accumsan sit
					amet nulla facilisi morbi tempus iaculis. Pulvinar sapien et
					ligula ullamcorper. Fringilla ut morbi tincidunt augue interdum
					velit euismod in pellentesque. Ac placerat vestibulum lectus
					mauris ultrices eros in. Tellus rutrum tellus pellentesque eu
					tincidunt tortor aliquam nulla facilisi. Duis at tellus at urna
					condimentum mattis pellentesque. Nulla aliquet porttitor lacus
					luctus accumsan. Amet justo donec enim diam vulputate. In
					fermentum et sollicitudin ac orci phasellus. Etiam tempor orci
					eu lobortis elementum. At elementum eu facilisis sed odio.
				</p>

				<p>
					Massa massa ultricies mi quis. Lobortis scelerisque fermentum
					dui faucibus. Volutpat diam ut venenatis tellus in metus
					vulputate. Nisl nunc mi ipsum faucibus vitae aliquet nec.
					Tristique senectus et netus et malesuada fames ac. Sapien
					pellentesque habitant morbi tristique senectus et. Ultricies leo
					integer malesuada nunc. In egestas erat imperdiet sed.
					Pellentesque elit ullamcorper dignissim cras tincidunt lobortis
					feugiat vivamus at.
				</p>
			</div>
		</div>

		<div class="w-full">
			<h3 class="font-bayon text-xl text-left">When I'm not coding, I'm...</h3>
			<ul class="list-disc list-inside px-5">
				<li class="relative before:-ml-3 pb-1">hobby</li>
				<li class="relative before:-ml-3 pb-1">hobby</li>
				<li class="relative before:-ml-3 pb-1">hobby</li>
				<li class="relative before:-ml-3 pb-1">hobby</li>
				<li class="relative before:-ml-3 pb-1">hobby</li>
				<li class="relative before:-ml-3 pb-1">hobby</li>
			</ul>
		</div>

		<div class="w-full">
			<h3 class="font-bayon text-xl text-left">I like scrolling through...</h3>
			<ul class="list-disc list-inside px-5">
				<li class="relative before:-ml-3 pb-1">hobby</li>
				<li class="relative before:-ml-3 pb-1">hobby</li>
				<li class="relative before:-ml-3 pb-1">hobby</li>
				<li class="relative before:-ml-3 pb-1">hobby</li>
				<li class="relative before:-ml-3 pb-1">hobby</li>
				<li class="relative before:-ml-3 pb-1">hobby</li>
			</ul>
		</div>

		<div class="w-full space-y-2">
			<h3 class="font-bayon text-xl text-left">Me in 10 words according to my totally unbiased gf:</h3>
			<div class="flex justify-center">
				<div class="relative grow ml-[10px] mb-[10px] max-w-[350px] aspect-[10/11] border-black border-[3px] rounded-xl bg-tenWords bg-cover bg-top bg-no-repeat">
					<div
						class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] !z-[-1]"
					/>
				</div>
			</div>
		</div>

		<Divider twClasses="w-1/2 mx-auto fill-current text-black drop-shadow-xl p-5 max-w-xs" />

		<div class="flex flex-col justify-start items-center w-full">
			<div class="text-center max-w-lg mx-auto">
				<h3 class="font-bayon text-2xl">That's all for now!</h3>
				<p>
					'preciate anyone who's made it this far. 🫶🏼<br/>I hid an easter egg
					for you somewhere in the home page. You can get to it by solving
					this riddle that I collabed with ChatGPT on.
				</p>
			</div>
			<div class="relative w-14 h-14 translate-y-[50%] mx-auto p-2 rounded-full text-yellow bg-black z-[1]">
				<Icon name="mdi:egg-easter"/>
			</div>
			<div class="relative ml-[10px] mb-[10px] border-[3px] border-black px-5 py-10 rounded-xl space-y-5 font-dmMono text-base/tight text-left bg-[radial-gradient(#D9D9D9_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat">
				<div
					class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
				/>
				<p>
					Lorem ipsum dolor sit amet,<br /> consectetur adipiscing elit,
				</p>
				<p>
					Sed do eiusmod tempor incididunt ut,<br /> Labore et dolore magna
					aliqua.
				</p>
				<p>
					Sed enim ut sem viverra aliquet eget sit,<br /> Lectus quam id leo
					in vitae.
				</p>
				<p>
					Turpis massa praesent elementum facilisis.<br /> Leo vel fringilla
					est ullamcorper eget nulla.
				</p>
				<p>Adipiscing vitae proin sagittis nisl.<br /> Rhoncus mattis.</p>
				<p>
					Eu scelerisque felis imperdiet proi,<br /> Frmentum leo vel orci
					porta.
				</p>
				<p>Vitae congue mauris,<br /> Rhoncus aenean vel elt.</p>
				<p>
					Ut tortor pretium viverra.<br /> Suspendisse potenti nullam ac.
				</p>
				<p>
					Cursus sit amet dictum sit amet.<br /> Elementum eu facilisis sed
					odio morbi.
				</p>
			</div>
		</div>
	</div>
</Layout>
