---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
---

<Layout headerMessage="/About">
	<div>
		<h1>/About</h1>
		<h2>Get to know me a little better.</h2>
	</div>
</Layout>
