---
import Layout from '../layouts/Layout.astro';
import IntroSection from '../components/IntroSection.astro'; 
import ToolboxSection from '../components/ToolboxSection.astro'; 
import ProjectsSection from '../components/ProjectsSection.astro'; 
import AboutMeSection from '../components/AboutMeSection.astro'; 
---

<Layout> 
    <section id="intro" class="flex flex-col gap-6 justify-start items-center px-5 py-10 font-montserrat text-base/snug max-w-screen-lg mx-auto min-w-min md:gap-10"><IntroSection /></section>
    <section id="toolbox" class="flex flex-col justify-start items-center gap-6 px-5 py-10 font-montserrat text-justify text-base/snug max-w-screen-lg mx-auto min-w-min md:gap-10"><ToolboxSection /></section>
    <section id="projects" class="flex flex-col justify-start items-center gap-6 px-5 py-10 font-montserrat text-justify text-base/snug max-w-screen-lg mx-auto min-w-min md:gap-10"><ProjectsSection /></section>
    <section id="about-me" class="flex flex-col justify-start items-center gap-6 px-5 py-10 font-montserrat text-justify text-base/snug max-w-screen-lg mx-auto min-w-min md:gap-10"><AboutMeSection /></section>
</Layout>
