---
import Layout from "../layouts/Layout.astro";
---

<Layout headerMessage="/projects">

    <div>
        <h1>/Projects</h1>
        <h2>Some of the work I'm most proud of.</h2>
    </div>

    <div
		class="relative ml-[10px] mb-[10px] border-[3px] border-black rounded-xl bg-white"
	>
        <div
			class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-xl bg-black z-[-1]"
		>
		</div>

		<div
			class="relative content-[''] mx-[10%] mt-[10%] aspect-[5/3] border-x-[3px] border-t-[3px] border-black"
		>
		</div>


        <div class="m-0 h-1/2 border-t-[3px] border-black">
            <div class="font-montserrat leading-snug pt-5 pb-2 px-5">
                <h3 class="font-bayon text-lg">Title</h3>
                <p>
                    A sentence or two briefly describing the project.
                </p>
                <p>• • • • •</p>
                <p>
                    Tech A • Tech B • Tech C • Tech D • Tech E • Tech F • Tech G
                    • Tech H • Tech I • Tech J • Tech I • Tech K
                </p>
            </div>
        </div>
    </div>
</Layout>
