---
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout headerMessage="/projects">
    <div class="mx-5 mt-16 mb-8">
        <h1 class="font-bayon text-4xl">/Projects</h1>
        <h2 class="font-montserrat text-base">Some of the work I'm most proud of.</h2>
    </div>

    <div class="mx-5 flex flex-col items-center gap-5">
        <ProjectCard />
        <ProjectCard />
        <ProjectCard />
        <ProjectCard />
        <ProjectCard />
    </div>
</Layout>
