---
import Layout from "../layouts/Layout.astro";
---

<Layout headerMessage="/projects">

    <div>
        <h1>/Projects</h1>
        <h2>Some of the work I'm most proud of.</h2>
    </div>

    <div class="border-[3px] border-black">
        <div>
            <h3>Title</h3>
            <p>
                A sentence or two briefly describing the project.
            </p>
            <p>• • • • •</p>
            <p>
                Tech A • Tech B • Tech C • Tech D • Tech E • Tech F • Tech G
                • Tech H • Tech I • Tech J • Tech I • Tech K
            </p>
        </div>
    </div>
</Layout>
