---
import Layout from "../layouts/Layout.astro";
---

<Layout headerMessage="/projects">

    <div>
        <h1>/Projects</h1>
        <h2>Some of the work I'm most proud of.</h2>
    </div>

</Layout>
