---
import Layout from "../layouts/Layout.astro";
import Divider from "../assets/Divider.astro"
import { Icon } from "astro-icon";
---

<Layout headerMessage="/toolbox" >
        <div class="mx-5 mt-16 mb-8">
            <h1 class="font-bayon text-4xl">/Toolbox</h1>
            <h2 class="font-montserrat text-base">The tools I build things with.</h2>
        </div>

        <div class="mx-5 flex flex-col items-center gap-5">
            <div class="w-full">
                <div class="flex flex-row py-2 gap-2 items-center">
                    <Icon
                        name="mdi:language"
                        class="w-6 h-6 p-1 bg-black text-white rounded-full"
                    /><span class="font-bayon">Programming Languages</span>
                </div>

                <div class="relative ml-[10px] mb-[10px] aspect-square border-[3px] border-black rounded-3xl bg-[radial-gradient(#D9D9D9_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat">
                    <div
                        class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-3xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
                    ></div>
                    <div class="border-2 border-yellow">
                        <i class="devicon-javascript-plain"></i>
                        <p>JavaScript</p>
                    </div>

                    <div class="border-2 border-yellow">
                        <i class="devicon-typescript-plain"></i>
                        <p>TypeScript</p>
                    </div>

                    <div class="border-2 border-yellow">
                        <i class="devicon-python-plain"></i>
                        <p>Python</p>
                    </div>
                </div>
            </div>

            <Divider twClasses="w-1/2 mx-auto fill-current text-black drop-shadow-xl" />

            <div class="w-full">
                <div class="flex flex-row py-2 gap-2 items-center">
                    <Icon
                        name="healthicons:ui-menu-grid-outline"
                        class="w-6 h-6 p-1 bg-black text-white rounded-full"
                    /><span class="font-bayon">Frontend</span>
                </div>

                <div class="relative ml-[10px] mb-[10px] aspect-square border-[3px] border-black rounded-3xl bg-[radial-gradient(#D9D9D9_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat">
                    <div
                        class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-3xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
                    ></div>
    
                    <div class="border-2 border-yellow">
                        <i class="devicon-react-plain"></i>
                        <p>React</p>
                    </div>

                    <div class="border-2 border-yellow">
                        <i class="devicon-html5-plain"></i>
                        <p>HTML</p>
                    </div>

                    <div class="border-2 border-yellow">
                        <i class="devicon-css3-plain"></i>
                        <p>CSS</p>
                    </div>

                    <div class="border-2 border-yellow">
                        <i class="devicon-css3-plain"></i>
                        <p>CSS</p>
                    </div>

                    <div class="border-2 border-yellow">
                        <i class="devicon-tailwindcss-plain"></i>
                        <p>Tailwind CSS</p>
                    </div>

                    <div class="border-2 border-yellow">
                        <i class="devicon-materialui-plain"></i>
                        <p>Material-UI</p>
                    </div>

                    <div class="border-2 border-yellow">
                        <i class="devicon-bootstrap-plain"></i>
                        <p>Bootstrap</p>
                    </div>

                    <div class="border-2 border-yellow">
                        <svg class="h-4 fill-black" viewBox="0 0 63 79" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.4924 65.9282C15.6165 62.432 14.4851 55.0859 16.0999 49.7638C18.8998 53.1193 22.7793 54.1822 26.7977 54.7822C33.0013 55.7081 39.0937 55.3618 44.8565 52.5637C45.5158 52.2434 46.125 51.8174 46.8454 51.386C47.3861 52.9341 47.5268 54.497 47.338 56.0877C46.8787 59.9617 44.9251 62.9542 41.8177 65.2227C40.5752 66.13 39.2604 66.9411 37.9771 67.7967C34.0346 70.4262 32.9679 73.5095 34.4494 77.9946C34.4846 78.1038 34.5161 78.2131 34.5957 78.4797C32.5828 77.5909 31.1124 76.2965 29.9921 74.5946C28.8088 72.7984 28.2458 70.8114 28.2162 68.6615C28.2014 67.6152 28.2014 66.5597 28.0588 65.5282C27.7107 63.0135 26.5144 61.8876 24.2608 61.8227C21.9479 61.7561 20.1183 63.1672 19.6331 65.3893C19.5961 65.5597 19.5424 65.7282 19.4887 65.9263L19.4924 65.9282Z"/>
                            <path d="M0 51.3932C0 51.3932 10.5979 46.2433 21.2254 46.2433L29.2382 21.5069C29.5381 20.3106 30.4141 19.4977 31.4029 19.4977C32.3918 19.4977 33.2677 20.3106 33.5677 21.5069L41.5804 46.2433C54.1672 46.2433 62.8058 51.3932 62.8058 51.3932C62.8058 51.3932 44.8044 2.47586 44.7692 2.37772C44.2526 0.931458 43.3804 0 42.2045 0H20.6032C19.4273 0 18.5903 0.931458 18.0384 2.37772C17.9995 2.47401 0 51.3932 0 51.3932Z"/>
                        </svg>
                        <p>Astro</p>
                    </div>
                </div>
            </div>

            <Divider twClasses="w-1/2 mx-auto fill-current text-black drop-shadow-xl" />

            <div class="w-full">
                <div class="flex flex-row py-2 gap-2 items-center">
                    <Icon
                        name="mdi:database-outline"
                        class="w-6 h-6 p-1 bg-black text-white rounded-full"
                    /><span class="font-bayon">Backend</span>
                </div>

                <div class="relative ml-[10px] mb-[10px] aspect-square border-[3px] border-black rounded-3xl bg-[radial-gradient(#D9D9D9_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat">
                    <div
                        class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-3xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
                    ></div>
                </div>
            </div>

            <Divider twClasses="w-1/2 mx-auto fill-current text-black drop-shadow-xl" />
            
            <div class="w-full">
                <div class="flex flex-row py-2 gap-2 items-center">
                    <Icon
                        name="mdi:design"
                        class="w-6 h-6 p-1 bg-black text-white rounded-full"
                    /><span class="font-bayon">Design</span>
                </div>

                <div class="relative ml-[10px] mb-[10px] aspect-square border-[3px] border-black rounded-3xl bg-[radial-gradient(#D9D9D9_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat">
                    <div
                        class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-3xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
                    ></div>
                </div>
            </div>
        </div>
</Layout>
