---
import Layout from "../layouts/Layout.astro";
import Divider from "../assets/Divider.astro"
import { Icon } from "astro-icon";
---

<Layout headerMessage="/toolbox" >
        <div class="mx-5 mt-16 mb-8">
            <h1 class="font-bayon text-4xl">/Toolbox</h1>
            <h2 class="font-montserrat text-base">The tools I build things with.</h2>
        </div>

        <div>
            <div>
                <div>
                    <Icon name="ph:code-bold" /><span>Code</span>
                </div>

                <div>

                </div>
            </div>

            <Divider /> 

            <div>
                <div>
                    <Icon name="mdi:pencil" /><span>Design</span>
                </div>

                <div>

                </div>
            </div>

            <Divider /> 

            <div>
                <div>
                    <Icon name="mdi:tools" /><span>Hardware</span>
                </div>

                <div>

                </div>
            </div>
        </div>
</Layout>
