---
import Layout from "../layouts/Layout.astro";
import Divider from "../assets/Divider.astro"
import { Icon } from "astro-icon";
---

<Layout headerMessage="/toolbox" >
        <div class="mx-5 mt-16 mb-8">
            <h1 class="font-bayon text-4xl">/Toolbox</h1>
            <h2 class="font-montserrat text-base">The tools I build things with.</h2>
        </div>

        <div class="mx-5 flex flex-col items-center gap-5">
            <div class="w-full">
                <div class="flex flex-row gap-2 items-center">
                    <Icon
                        name="ph:code-bold"
                        class="w-6 h-6 p-1.5 bg-black text-white rounded-full"
                    /><span class="font-bayon">Code</span>
                </div>

                <div class="w-full aspect-square border-[3px] border-black rounded-3xl"></div>
            </div>

            <Divider twClasses="w-1/2 mx-auto fill-current text-black drop-shadow-xl" />

            <div class="w-full">
                <div class="flex flex-row gap-2 items-center">
                    <Icon
                        name="mdi:pencil"
                        class="w-6 h-6 p-1.5 bg-black text-white rounded-full"
                    /><span class="font-bayon">Design</span>
                </div>

                <div class="w-full aspect-square border-[3px] border-black rounded-3xl"></div>
            </div>

            <Divider twClasses="w-1/2 mx-auto fill-current text-black drop-shadow-xl" />

            <div class="w-full">
                <div class="flex flex-row gap-2 items-center">
                    <Icon
                        name="mdi:tools"
                        class="w-6 h-6 p-1.5 bg-black text-white rounded-full"
                    /><span class="font-bayon">Hardware</span>
                </div>

                <div class="w-full aspect-square border-[3px] border-black rounded-3xl"></div>
            </div>
        </div>

</Layout>
