---
import Layout from "../layouts/Layout.astro";
import Divider from "../assets/Divider.astro"
import { Icon } from "astro-icon";
---

<Layout headerMessage="/toolbox" >
        <div class="mx-5 mt-16 mb-8">
            <h1 class="font-bayon text-4xl">/Toolbox</h1>
            <h2 class="font-montserrat text-base">The tools I build things with.</h2>
        </div>

        <div class="mx-5 flex flex-col items-center gap-5">
            <div class="w-full">
                <div class="flex flex-row py-2 gap-2 items-center">
                    <Icon
                        name="mdi:language"
                        class="w-6 h-6 p-1 bg-black text-white rounded-full"
                    /><span class="font-bayon">Programming Languages</span>
                </div>

                <div class="relative ml-[10px] mb-[10px] aspect-square border-[3px] border-black rounded-3xl bg-[radial-gradient(#D9D9D9_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat">
                    <div
                        class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-3xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
                    ></div>
                </div>
            </div>

            <Divider twClasses="w-1/2 mx-auto fill-current text-black drop-shadow-xl" />

            <div class="w-full">
                <div class="flex flex-row py-2 gap-2 items-center">
                    <Icon
                        name="healthicons:ui-menu-grid-outline"
                        class="w-6 h-6 p-1 bg-black text-white rounded-full"
                    /><span class="font-bayon">Frontend</span>
                </div>

                <div class="relative ml-[10px] mb-[10px] aspect-square border-[3px] border-black rounded-3xl bg-[radial-gradient(#D9D9D9_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat">
                    <div
                        class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-3xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
                    ></div>
                </div>
            </div>

            <Divider twClasses="w-1/2 mx-auto fill-current text-black drop-shadow-xl" />

            <div class="w-full">
                <div class="flex flex-row py-2 gap-2 items-center">
                    <Icon
                        name="mdi:database-outline"
                        class="w-6 h-6 p-1 bg-black text-white rounded-full"
                    /><span class="font-bayon">Backend</span>
                </div>

                <div class="relative ml-[10px] mb-[10px] aspect-square border-[3px] border-black rounded-3xl bg-[radial-gradient(#D9D9D9_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat">
                    <div
                        class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-3xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
                    ></div>
                </div>
            </div>

            <Divider twClasses="w-1/2 mx-auto fill-current text-black drop-shadow-xl" />
            
            <div class="w-full">
                <div class="flex flex-row py-2 gap-2 items-center">
                    <Icon
                        name="mdi:design"
                        class="w-6 h-6 p-1 bg-black text-white rounded-full"
                    /><span class="font-bayon">Design</span>
                </div>

                <div class="relative ml-[10px] mb-[10px] aspect-square border-[3px] border-black rounded-3xl bg-[radial-gradient(#D9D9D9_1px,#F2F2F2_0)] bg-[length:5px_5px] bg-repeat">
                    <div
                        class="absolute inset-[10px_10px_-10px_-10px] content-[''] rounded-3xl bg-[repeating-linear-gradient(-45deg,black_0_3px,transparent_0_10px)] z-[-1]"
                    ></div>
                </div>
            </div>
        </div>
</Layout>
