---
 import { Icon } from "astro-icon";
---
<div class="relative h-[120px] mt-[100px]">
	<div
		class="w-full h-[120px] absolute bottom-0 border-[3px] border-black bg-[radial-gradient(#4B6777_1px,#577383_0)] bg-[length:5px_5px] bg-repeat"
	>
	</div>
	<div
		class="w-full h-[90px] absolute bottom-0 border-[3px] border-black bg-[radial-gradient(#7AA3BA_1px,#86AFC6_0)] bg-[length:5px_5px] bg-repeat"
	>
	</div>
	<div
		class="h-[110px] absolute bottom-0 left-[20%] p-1 w-min max-w-1/2 flex flex-col flex-wrap justify-start items-start font-bayon leading-none bg-[radial-gradient(#D9D9D9_1px,white_0)] bg-[length:5px_5px] bg-repeat border-[3px] border-black rounded-xl drop-shadow-2xl"
	>
		<p class="mr-1 w-max">Designed & built by me</p>
		<div
			class="flex flex-row justify-center items-center"
		>
			<Icon
				name="ph:copyright-duotone"
				class="w-4 h-4 mr-1"
			/>
			<p>MMXXIII</p>
		</div>
	</div>

	<div
		class="w-full h-[60px] absolute bottom-0 border-[3px] border-black bg-[radial-gradient(#4B6777_1px,#577383_0)] bg-[length:5px_5px] bg-repeat"
	>
	</div>
	<div
		class="h-[75px] absolute bottom-0 right-[20%] p-1 w-min max-w-1/2 flex flex-row justify-center items-start gap-1 font-bayon bg-[radial-gradient(#D9D9D9_1px,white_0)] bg-[length:5px_5px] bg-repeat border-[3px] border-black rounded-xl drop-shadow-2xl"
	>
		<a
			href=""
			class="w-8 h-8 rounded-full p-1.5 bg-yellow border-[2px] border-black"
		>
			<Icon name="ic:baseline-email" />
		</a>
		<a
			href=""
			class="w-8 h-8 rounded-full p-1 bg-yellow border-[2px] border-black"
		>
			<Icon name="raphael:github" />
		</a>
		<a
			href=""
			class="w-8 h-8 rounded-full p-1.5 bg-yellow border-[2px] border-black"
		>
			<Icon name="ri:linkedin-fill" />
		</a>
		<a
			href=""
			class="w-8 h-8 rounded-full p-1.5 bg-yellow border-[2px] border-black"
		>
			<Icon name="ri:instagram-fill" />
		</a>
	</div>

    <div
		class="w-full h-[30px] absolute bottom-0 border-[3px] border-black bg-[radial-gradient(#7AA3BA_1px,#86AFC6_0)] bg-[length:5px_5px] bg-repeat"
	>
	</div>
</div>
