---
 import { Icon } from "astro-icon";
---
<div class="relative h-[120px] mt-[100px]">
	<div
		class="w-full h-[120px] absolute bottom-0 border-[3px] border-black"
	>
	</div>
	<div
		class="w-full h-[90px] absolute bottom-0 border-[3px] border-black"
	>
	</div>
	<div
		class="h-[110px] absolute bottom-0 left-[20%] p-1 w-min max-w-1/2 flex flex-col flex-wrap justify-start items-start border-[3px] border-black font-bayon leading-none bg-[radial-gradient(#D9D9D9_1px,white_0)] bg-[length:5px_5px] bg-repeat rounded-xl drop-shadow-2xl"
	>
		<p>Designed & built by me</p>
		<div>
            ©
			<p>MMXXIII</p>
		</div>
	</div>

	<div
		class="w-full h-[60px] absolute bottom-0 border-[3px] border-black"
	>
	</div>
	<div
		class="h-[75px] absolute bottom-0 right-[20%] p-1 w-min max-w-1/2 flex flex-row justify-center items-start border-[3px] border-black gap-1 font-bayon bg-[radial-gradient(#D9D9D9_1px,white_0)] bg-[length:5px_5px] bg-repeat rounded-xl drop-shadow-2xl"
	>
		<a
			href=""
			class="w-8 h-8 border-[2px] border-black"
		>
		</a>
		<a
			href=""
			class="w-8 h-8 border-[2px] border-black"
		>
		</a>
		<a
			href=""
			class="w-8 h-8 border-[2px] border-black"
		>
		</a>
		<a
			href=""
			class="w-8 h-8 border-[2px] border-black"
		>
		</a>
	</div>

    <div
		class="w-full h-[30px] absolute bottom-0 border-[3px] border-black"
	>
	</div>
</div>
