---
import { Icon } from 'astro-icon'; 
const { headerMessage } = Astro.props; 
---
<header class="sticky top-0 px-2 py-4 z-40">
    <div class='flex flex-row justify-between items-center rounded-full bg-white border-[3px] border-black drop-shadow-lg'>
        <a class="flex justify-center items-center w-8 h-8 m-2 p-1 rounded-full font-montserrat font-medium text-sm bg-yellow border-[2px] border-black" href="/">
            J
        </a>
        <p id="headerMessageEle" class="font-bayon text-base"></p>
        <button id="mobile-menu-button" class="relative w-8 h-8 m-2 p-1 rounded-full bg-yellow border-[2px] border-black">
            <Icon class='' name="mdi:menu" />
        </button>

        <div id="mobile-menu" class="absolute right-0 bottom-0 translate-y-[96%] border-[3px] font-bayon text-3xl hidden flex-col border-black bg-white rounded-xl shadow-xl"> 
            <a href="/projects" class="px-4 py-2">Projects</a>
            <hr style="border-top: dashed 2px;"  class="mx-auto w-[85%] text-yellow" />
            <a href="/toolbox" class="px-4 py-2">Toolbox</a>
            <hr style="border-top: dashed 2px;"  class="mx-auto w-[85%] text-yellow" />
            <a href="/about" class="px-4 py-2">About</a>
        </div>
    </div>
</header>

<script define:vars={{headerMessage}}>
    const mobileMenuButton = document.getElementById("mobile-menu-button"); 
    mobileMenuButton.addEventListener("click", toggleMobileMenu); 
    
    function toggleMobileMenu() {
        const mobileMenu = document.getElementById("mobile-menu");
        mobileMenu.classList.toggle("hidden");
        mobileMenu.classList.toggle("flex");
    }

    const headerMessageEle = document.getElementById("headerMessageEle");
    window.addEventListener("scroll", function () {
        let scrollAmount = window.scrollY;
        if (scrollAmount > 86) {
            headerMessageEle.innerHTML = headerMessage;
        } else {
            headerMessageEle.innerHTML = ''
        }
    });
</script>
