---
import { Icon } from 'astro-icon'; 
const { headerMessage } = Astro.props; 
---
<header class="sticky top-0 px-2 py-4">
    <div class='flex flex-row justify-between items-center rounded-full bg-white border-[3px] border-black drop-shadow-lg'>
        <a class="flex justify-center items-center w-8 h-8 m-2 p-1 rounded-full font-montserrat font-medium text-sm bg-yellow border-[2px] border-black" href="/">
            J
        </a>
        <p class="font-bayon text-base">
            {headerMessage}
        </p>
        <button class="w-8 h-8 m-2 p-1 rounded-full bg-yellow border-[2px] border-black">
            <Icon class='' name="mdi:menu" />
        </button>
    </div>
</header>
