---
export interface Props { 
    title?: string;
    headerMessage?: string; 
}

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title = "Jon Granados - Engineer", headerMessage } = Astro.props as Props; 
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bayon&family=DM+Mono:wght@300;400;500&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <title>{title}</title>
	</head>
	<body class='flex flex-col justify-between min-h-screen'> 
        <Header headerMessage={headerMessage}/>
        <slot />
        <Footer />
    </body>
</html>
